/* ==================================================================

Reversal CSS

Main Color: #d00355

================================================================== */


/* ==================================================================
CSS Reset
================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, 
, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==================================================================
Basic Document Styles
================================================================== */

body {

    line-height: 1;
    color: #555555;
    font: 13px/24px "Open Sans", Helvetica, Arial, sans-serif;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

input,
select,
textarea { font: 13px/24px "Open Sans", Helvetica, Arial, sans-serif; }

hr {
    background: #e1e1e1;
    margin: 40px 0 40px 0;
    height: 1px;
    border: none;
    width: 100%;
    float: left;
}

hr.fancy-hr {
    position: relative;
    float: left;
}

hr.fancy-hr:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 1px;
    background: #d00355;
    display: block;
}

.clearfix:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    font-size: 0;
}

.clearfix { 
    display: inline-block; 
    *zoom: 1;
}

* html .clearfix { 
    height: 1%;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow:hidden;
}

::selection {
    background: #d00355;
    color: #fff;
}

::-moz-selection {
    background: #d00355; /* Firefox */
    color: #fff;
}

::-webkit-selection {
    background: #d00355; /* Safari */
    color: #fff;
}

/* ==================================================================
Typography
================================================================== */


h1 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 300;
    color: #333333;
}

h2 {
    font-size: 23px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
    line-height: 34px;
    color: #555555;
    margin-bottom: 10px;
}

h4 {
    font-size: 170px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
    /*padding-left: 35%;*/
    padding-top: 5%;
    line-height: 100px;
    padding-bottom: 5%;
}

p {
    margin-bottom: 10px;
}

a, a > * {
    color: #d00355;
    text-decoration: none;
    -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
       -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
        -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
         -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
            transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
}

a:hover, a > *:hover {
    color: #363636;
    text-decoration: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* ==================================================================
Basic Layout Styles
================================================================== */

.text-left {
    text-align: left !important;
}

.text-right { 
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.clear {
    clear: both;
}

.all-margin {
    margin: 20px !important;
}

.left-margin {
    margin-left: 20px !important;
}

.right-margin {
    margin-right: 20px !important;
}

.top-margin {
    margin-top: 20px !important;
}

.bottom-margin {
    margin-bottom: 20px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-left-margin {
    margin-left: 0 !important;
}

.no-right-margin {
    margin-right: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.disabled,
.disabled i {
    color: #eaeaea !important;
}

.custom-icon-list li i {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    color: #333333;
    padding-right: 15px;
}

.custom-icon-list li p {
    margin-left: 30px;
}

.button {
    background: #f26122;
    padding: 6px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    color: #ffffff;
    background: #252525;
}

/* ==================================================================
Progress Bar
================================================================== */

.progress {
    height: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
}

.progress .bar {
    background: #c2c2c2 !important;
    line-height: 40px;
    text-align: left;
    text-indent: 15px;
    font-style: italic;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    -webkit-transition: background-color .3s ease;
       -moz-transition: background-color .3s ease;
        -ms-transition: background-color .3s ease;
         -o-transition: background-color .3s ease;
            transition: background-color .3s ease;
}

.progress:hover .bar {
    background: #d00355 !important;
}

/* ==================================================================
ScrollBar
================================================================== */

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(180,180,180,0.8); 
    -webkit-box-shadow: none; 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(180,180,180,0.4); 
}



/* ==================================================================
Sections
================================================================== */

section {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    overflow: auto;
    background: #fdfdfd;
}

section .container {
    padding-top: 5%;
}

section > .container {
    padding-bottom: 5%;
}

/* ==================================================================
About
================================================================== */

#about {
    background: url(http://i.imgur.com/7JJm0KS.jpg) right bottom no-repeat;
    background-color: #ffffff;
	-webkit-background-size: auto 90%;
	-moz-background-size: auto 90%;
	-o-background-size: auto 90%;
	background-size: auto 90%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i.imgur.com/7JJm0KS.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i.imgur.com/7JJm0KS.jpg', sizingMethod='scale')";
}

#about .social { 
     padding-top: 0px;
     margin-left: -6%;
}


/* ==================================================================
Intro
================================================================== */

.name {
    opacity: 0;
    margin-left: 7%;
    
}

#button {
    opacity: 0;
    text-align: center;
}

.desc {
    opacity: 0;
    margin-left: 7%;
    margin-top: 3%;
}

#intro {
    background: url(http://i.imgur.com/CVJVeWw.jpg) no-repeat right fixed;
    
	

background-repeat: no-repeat;
background-size: auto 125%;
background-position-x: right;
background-position-y: fixed;
background-image: url(http://i.imgur.com/rKJbwgL.jpg);
	

    
    background-color: #fdfdfd;
	-webkit-background-size: 110% 110%;
	-moz-background-size: auto 125%;
	-o-background-size: auto 125%;
	background-size: auto 110%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i.imgur.com/rKJbwgL.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i.imgur.com/rKJbwgL.jpg', sizingMethod='scale')";
    padding-top: 10%;
    margin-right: -10%;
}

#intro h1 {
    font-size: 380%;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    padding-left: 1.5%;
    max-width: 90%;
    line-height: 0;
}

#intro h4 {
    font-size: 1300%;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
    /*padding-left: 35%;*/
    padding-top: 5%;
    
}



#intro h1 span {
    color: #d00355;
}

#intro h2 {
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.get-started {
    position: relative;
    margin: 50px auto 0px auto;
    display: block;
    text-align: center;
    width: 130px;
    padding: 10px 5px;
    background-color: #d00355;
    color: #ffffff;
}

.get-started i {
    color: #111111;
    margin-left: 10px;
}

.get-started:hover {
    color: #ffffff;
    background: #111111;
}

.get-started:hover i {
    color: #d00355;
}


/* ==================================================================
Play Button
================================================================== */

#intro img {
	width: 7%;
	max-width: 7%;
	margin-top: -10%;
    margin-right: 20px;
    padding-right: 0;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
    opacity: 0;
    float: right;
    border: none;
    vertical-align: middle;
    
}

#intro img:hover {
	opacity: 0.7;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}


/* ==================================================================
Main Navigation
================================================================== */

a.logo {
    margin: 15px 0 0 20px;
    float: left;
}

nav#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 56px;
    background: white;
    min-width: 300px;
}

nav#main-nav ul {
    float: right;
    margin-right: 10px;
}

nav#main-nav ul li {
    float: left;
    display: inline-block;
    line-height: 14px;
}

nav#main-nav ul li a {
    color: #333333;
    text-transform: uppercase;
    padding: 20px 20px;
    display: inline-block;
}

nav#main-nav ul li a.active {
    color: #d00355;
}

/* ==================================================================
Responsive Navigation
================================================================== */

#main-nav #responsive-nav {
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    background: #333333;
    text-align: center;
    line-height: 50px;
}

#main-nav #responsive-nav:hover i {
    color: #ffffff;
}

#main-nav .responsive-nav {
    margin-bottom: 20px;
    padding: 10px;
}

/* ==================================================================
Portfolio
================================================================== */

.rsz {
    height: 176px;
    width: 270px;
background-position: center top;
    background-size: cover;
display: inline-block;
}


#portfolio {
    
}

.portfolio-filter {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: -40px;
}

.portfolio-filter li {
    float: left;
    margin-right: 20px;
}

.portfolio-filter li a.selected {
    color: #333333;
}

.portfolio .portfolio-item {
    margin-bottom: 20px;
    position: relative;
    /*background: #d00355;*/
    height: 196px;
        width: 300px;
}

.portfolio .portfolio-item div,
.fancybox {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);

    opacity: 1;

}

.portfolio .portfolio-item i,
.fancybox i {
    position: absolute;
    top: 43%;
    left: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 40px;
    margin-left: -15px;
    margin-top: -15px;
    color: #333333;
}

.fancybox i {
    color: #ffffff;
}

.portfolio .portfolio-item:hover div,
.fancybox:hover div{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .3;
}

.portfolio .portfolio-item:hover i,
.fancybox:hover i {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.single-portfolio {
    position: absolute;
    top: 0;
    display: block;
    margin-top: 0px;
    background: #333333;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.single-portfolio .container {
    padding-bottom: 100px;
}

.single-portfolio .portfolio-close {
    position: absolute;
    right: 20px;
    top: 65px;
    font-size: 50px;
    color: #444444;
    cursor: pointer;
    -webkit-transition: color .3s ease;
       -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
         -o-transition: color .3s ease;
            transition: color .3s ease;
}

.single-portfolio .portfolio-close:hover {
    color: #666666;
}

.single-portfolio h2 {
    color: #f2f2f2;
}

.single-portfolio p {
    color: #999999;
}

.single-portfolio .image-container,
.single-portfolio .video-container,
.single-portfolio .gallery-container {
    position: relative;
    display: block;
    margin-top: 0px;
    width: 100%;
    height: auto;
}

.single-portfolio .video-container .fullwidth-video {
    width: 100%;
    min-height: 300px;
}

.category {

font-size: 200%;
    font-weight: 300;
    line-height: 20px;

}

/* ==================================================================
Flexslider
================================================================== */

.flexslider {
    border: none;
    box-shadow: none;
    margin: 0px;
}

.flexslider img {
    display: block;
}

.flexslider a.flex-prev {
    width: 30px;
    height: 35px;
    background: url(../images/flexslider-left-arrow.png) no-repeat;
}

.flexslider a.flex-next {
    width: 30px;
    height: 35px;
    background: url(../images/flexslider-right-arrow.png) no-repeat;
}

/* ==================================================================
Isotope Transitions
================================================================== */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}

/* ==================================================================
Forms
================================================================== */

input, textarea, select {
	background: #f2f2f2 !important;
	-webkit-appearance: none;
	color: #959595 !important;
	border: none !important;
	width: 100%;
	padding: 10px 20px !important;
	margin: 0px !important;
	font-style: italic;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	height: auto !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 20px !important;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-transition: background-color .3s ease, color .3s ease !important;
	   -moz-transition: background-color .3s ease, color .3s ease !important;
	    -ms-transition: background-color .3s ease, color .3s ease !important;
	     -o-transition: background-color .3s ease, color .3s ease !important;
	        transition: background-color .3s ease, color .3s ease !important;
}

textarea {
	width: 100%;
	padding: 10px 20px;
	resize: both;
	margin-top: 0px;
	font-style: italic;
}
	
input:hover, textarea:hover, select:hover {
	background: #e1e1e1 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}
	
input:focus, textarea:focus, select:focus {
	background: #d00355;
	color: #ffffff;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}

input[type="submit"], button, a.button {
	text-transform: none;
	width: auto;
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	background: #d00355 !important;
	color: #ffffff !important;
	cursor: pointer;
}

input[type="submit"] {
	padding: 6px 10px !important;
}

input[type="submit"]:hover, button:hover, a.button:hover {
	background: #252525 !important;
}

select, option {
	cursor: pointer;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #b0b0b0; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #b0b0b0; }

input.placeholder, textarea.placeholder { color: #b0b0b0; }

/* ==================================================================
Contacts
================================================================== */

#contacts {
    background: url(../images/contacts-background.jpg) no-repeat center center;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

#map img {
    max-width: none;
}

.contact-info {
    background: #ffffff;
    padding: 40px;
    position: relative;
    z-index: 100;
    margin-bottom: 30px;
}

.social {
    padding: 40px;
    background: #ffffff;
    z-index: 100;
    position: relative;
}

.social .fancy-hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.social ul {
    display: inline-block;
}

.social ul li {
    float: left;
    margin-right: 10px;
}

form.contact-form {
    background: #ffffff;
   
    position: relative;
    z-index: 50;
}

form.contact-form textarea {
    height: 140px !important;
}

.form-error {
    background: #fcdcdc !important;
}

.social {	
background: transparent;
}